<%= render partial: "partials/page_title", locals: {title: "Artists", page_object: @artists} %>

<section class="section fixed-grid has-2-cols">
  <div class="grid">
    <% @artists.each do |artist| %>
      <div class="cell box"><%= link_to artist.title, artist %></div>
    <% end %>
  </div>
</section>
