<section class="section">
  <div class="table-container">
    <table class="table is-striped">
      <thead>
        <tr class="is-ancestor mb-3">
          <th class="tile is-3">Artwork</th>
          <th class="tile is-2">Artist</th>
          <th class="tile is-2">Categories</th>
          <th class="tile is-3">Exhibitions</th>
        </tr>
      </thead>
      <tbody>
        <% @artworks.each do |artwork| %>
          <tr class="tile is-ancestor pt-3">
            <td class="tile is-3">
              <%= link_to artwork.title, artwork %>
            </td>
            <td class="tile is-2">
              <% if artwork.artist.present? %>
                <%= link_to artwork.artist.title, artwork.artist %>
              <% else %>
                Unknown
              <% end %>
            </td>
            <td class="tile is-2 is-flex-wrap-wrap">
              <% artwork.categories.each do |category| %>
                <p class="pr-3">
                  <%= link_to category.title, artwork_category_path(artwork.id, category.id) %>
                </p>
              <% end %>
            </td>
            <td class="tile is-3 is-flex-wrap-wrap">
              <% artwork.exhibitions.each do |exhibition| %>
                <p class="pr-3">
                  <%= link_to exhibition.title, artwork_exhibition_path(artwork.id, exhibition.id) %>
                </p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>