<nav class="navbar pl-6 has-background-grey-lighter" role="navigation" aria-label="main-navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item has-text-link">About</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a href="/artworks/" class="navbar-link has-text-link">Home</a>

        <div class="navbar-dropdown">
          <a href="/artworks/" class="navbar-item">Artworks</a>
          <a href="/artists/" class="navbar-item">Artists</a>
          <a href="/categories/" class="navbar-item">Categories</a>
          <a href="/exhibitions/" class="navbar-item">Exhibitions</a>
        </div>
      </div>
    </div>
  </div>
</nav>