<div class="row m-5">
  <h1 class="col text-center fs-1">Winnipeg Fire and Paramedic Services Calls</h1>
</div>

<div class="row mx-auto mb-3 navigation">
  <%= paginate @calls %>
</div>

<%= render partial: "call", locals: {calls: @calls} %>