<%= render partial: "partials/page_title", locals: {title: "Categories", page_object: @categories} %>

<section class="section grid is-col-min-8">
  <% @categories.each do |category| %>
    <div class="cell"><%= link_to category.title, category %></div>
  <% end %>
</section>
